---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
  <body>
    <a href="/">home</a>
    <a href="/about/">about</a>
    <a href="/blog/">blog</a>

		<h1>Enduraev</h1>
    <h3>Интересуюсь всем и делюсь этим с миром</h3>
    <p>Я живу в любимой России в Ханты-Мансийском автономном округе — Югра</p>
    <p>Советы как жить? Хорошо питайся, защити себя финансово и береги свою семью. В этой игре нет правил и выиграть в неё нельзя</p>
	</body
</html>
